@charset "UTF-8";




@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #1594b4, rgb(92, 30, 92));
    }

    #login{
        width: 90vw;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #1594b4, rgb(92, 30, 92));
    }

    #login{
        width: 990px;

    }
    #imagem{
       float: left;
       width: 50%; 
       height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
    }
}